<!-- Meta tags -->
<%= charset_tag('utf-8') %>
<%= viewport_tag('width=device-width,initial-scale=1') %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<!-- Title -->
<% content_for(:title) { yield(:title) } %>
<title><%= yield(:title) %></title>

<!-- Favicons and manifest -->
<link rel="manifest" href="/manifest.json">
<%= render 'application/head/favicons' %>

<!-- Stylesheets -->
<%= preload_link_tag 'https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css', as: 'style', rel: 'preload' %>
<%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<%# daisyui (^) is declared above application (v) so we can override classes from it %>
<%= preload_link_tag 'tailwind.css', 'data-turbo-track': 'reload' %>
<%= preload_link_tag 'inter-font.css', 'data-turbo-track': 'reload' %>
<%= preload_link_tag 'https://fonts.googleapis.com/css?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap', 'data-turbo-track': 'reload' %>
<%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap', 'data-turbo-track': 'reload' %>
<%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>

<!-- JavaScript -->
<%= javascript_include_tag "https://unpkg.com/ios-pwa-splash@1.0.0/cdn.min.js" %>
<%= javascript_tag do %>
  iosPWASplash('/apple-touch-icon.png', '#2f5ff2')
<% end %>
<%= javascript_importmap_tags %>
<%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>

<!-- Capybara lockstep -->
<%= capybara_lockstep if defined?(Capybara::Lockstep) %>

<!-- Turbo -->
<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<!-- Additional head content -->
<%= render 'application/head/meta_tags' %>
<%= content_for :head %>
