  <!-- Only one of these headers is visible at a time, depending on width -->
<header id="wide-header" class="justify-between flex-none hidden h-10 mt-2 mb-3 ml-2 text-lg text-gray-950 dark:text-gray-100 md:flex">
  <% puts "assistant: #{@assistant}" %>
  <%= render 'messages/main_column/assistant_header', assistant: @assistant %>
  <%= link_to new_assistant_message_path(@assistant),
        target: "_top",
        class: "block cursor-pointer inline-flex mr-3 px-2 py-2 group",
        data: {
          role: "new",
          controller: "keyboard",
          action: %|
            keydown.meta+shift+o@document->keyboard#click
            keydown.ctrl+shift+o@document->keyboard#click
            keydown.meta+j@document->keyboard#click
            keydown.ctrl+j@document->keyboard#click
          |
        } do %>
    <%= icon "pencil-square", variant: :outline, size: 22, class: 'stroke-2 text-gray-950 dark:text-gray-100', title: "New chat", tooltip: :left %>
  <% end %>
</header>
<header id="narrow-header" class="flex-none text-lg text-center md:hidden w-full z-[100] bg-white" data-viewport-target="header">
  <div class="flex items-center justify-between flex-1  border-b border-gray-300 text-gray-950 dark:text-gray-100 dark:border-gray-600 dark:bg-gray-800">
    <%= button_tag type: "button",
        class: "inline-flex px-2 ml-1 cursor-pointer group",
        data: {
          action: "transition#toggleClass"
        } do
      %>
    <%= icon "bars-3", variant: :outline, size: 22, class: 'stroke-2 text-gray-950 dark:text-gray-100', title: "Menu", tooltip: :right %>
  <% end %>
  <%= render 'messages/main_column/assistant_header', assistant: @assistant %>
  <%= link_to new_assistant_message_path(@assistant), target: "_top", class: "block cursor-pointer inline-flex mr-1 px-2 group", data: { role: "new" } do %>
    <%= icon "pencil-square", variant: :outline, size: 22, class: 'stroke-2 text-gray-950 dark:text-gray-100', title: "New chat", tooltip: :left %>
  <% end %>
</div>
</header>
<!-- end header possibilities -->