<% content_for :title, "HostedGPT" %>
<!DOCTYPE html>
<html 
    class=<%= Current.user.preferences[:dark_mode] %>
  >
  <%= render "head" %>
  <body
    class="
      nav-closed
      bg-white dark:bg-gray-800
      bottom-0
      w-full
      absolute
    "
    data-controller="transition dark-mode viewport"
    data-transition-toggle-class="nav-closed"
    data-transition-target="transitionable"
    data-dark-mode-theme-value="<%= Current.user.preferences[:dark_mode] %>"
  >
    <main class="flex flex-1 flex-col h-full w-full " id="main">
      <%= render "layouts/nav" %>
      <%= content_for?(:main) ? yield(:main) : yield %>
    </main>
    <%= render "layouts/toast" %>
  </body>
</html>